Print komutu

In [41]:
print("I will learn python")

I will learn python

In [1]:
metin = "veri bilimi öğreniyorum"
print(metin)

veri bilimi öğreniyorum

In [42]:
#alt satıra geçme (option + ?) ile \ yap yanına n yaz
print("I will \nlearn")

I will
learn

In [43]:
#tab mesafesi kadar boşluk bırakma \t
print("My name is \tEce")

My name is 	Ece

In [6]:
print("I\'m Ece")

I'm Ece

In [44]:
# .format ile yazı içindeki değişkenleri atama
print("My name is {} , and I'm {} years old".format("Ece" , 23))
# {} ifadelerinin içine index numarası atayabiliriz formatın içinin bir liste olduğunu düşün 
print("My name is {0} , and I'm {1} years old".format("Ece" , 23))

My name is Ece , and I'm 23 years old
My name is Ece , and I'm 23 years old

Değişkenler

In [45]:
sayi = 10
print(sayi)

10

Sayılar
- int (tam sayılar)
- float (ondalık sayılar)

In [46]:
sayi_1 = 3
sayi_2 = 3.0
type(sayi_1)

int

In [47]:
type(sayi_2)

float

Diğer Değişkenler
- str (yazı)
"" veya '' içine yazılmasından anlaşılır
- bool (true,false)
- list (liste) -> [] içine yazılır 
örn: [1,2,ece,1]
- set (yine bi nevi liste) {} içine yazılır listeden farklı olarak tekrar eden elemanları bir defa yazar
örn:{1,2,ece} 
- dict (dictionary)
- tup (tuple) () içine yazılır liste ve set'ten farklı olarak içi kilitli gibi düşün

In [48]:
first_var = "Datascience"
second_var = "Data science"

değişkenismi[] ve köşeli parantezin içine index numarası yazarsak o indexi bize print eder

In [49]:
first_var[0]

'D'

[x :] ifadesi x. indexten o stringin sonuna kadar olan elemanların döndürülmesini sağlar aşağıda örneği vardır.

In [50]:
first_var[2:]

'tascience'

[:x] ifadesi x. indexe kadar olan ifadeleri döndürür

In [51]:
first_var[:4]

'Data'

[x:y] ifadesi ise x.index dahil olmak üzere y.indexe kadar al ama y. dahil değil demek

In [52]:
first_var[3:7]

'asci'

[x:y:z] ifadesi x.indexten başla y. indexe kadar z kadar atlayarak al demek

In [53]:
first_var[1:10:2]

'aacec'

len() parantez içine yazılan değişkenin uzunluğunu döndürür

In [54]:
len(first_var)

11

UPPER ve lower kullanımı

In [55]:
first_var.upper()

'DATASCIENCE'

In [56]:
first_var.lower()

'datascience'

split kullanımı -> split parantez içinde yaptığın tanımlamaya göre listeleme yapıcak
mesela; 
() olursa metin içinde boşluk gördüğü şekilde olanları farklı eleman olarak algılayıp liste yapar
("a") olursa a ya kadar olan yerlerden ayrım yaparak listeleme yapar

In [57]:
first_var.split()

['Datascience']

In [60]:
first_var.split("a")

['D', 't', 'science']

In [61]:
first_var.split("e")

['Datasci', 'nc', '']

In [59]:
second_var.split()

['Data', 'science']

Boolean 
- == eşittir
- != eşit değildir

In [63]:
age_e = 23
age_m = 24

print(age_e > age_m)

False

In [64]:
age_m != age_e

True

In [2]:
dogru_soz = 1
yanlis_soz = 0
print(dogru_soz)

1

List&Set

In [76]:
mylist = ["ece", "melih" , "ankara" , 777]
mylist

['ece', 'melih', 'ankara', 777]

append komutu ile listeme ekleme yapabilirim 
çalışma formatı:
- .append(eklemek istediğim eleman)

In [77]:
mylist.append("esk")
mylist

['ece', 'melih', 'ankara', 777, 'esk']

pop komutu ile listeye eklenen son eleman atılabilir çalışma formatı:
- .pop()
- eğer mylist.pop() yazılıp mylist yazdırılmazsa son eklenen elemanı sadece döndürür.

In [78]:
mylist.pop()

'esk'

In [79]:
mylist.pop()
mylist

['ece', 'melih', 'ankara']

In [82]:
mylist.append(777)

In [84]:
mylist.append("gelecek")
mylist

['ece', 'melih', 'ankara', '777', 777, 'gelecek', 'gelecek']

pop() içine yazdığımız indexe ait elemanı çıkarır

In [85]:
mylist.pop(4)
mylist

['ece', 'melih', 'ankara', '777', 'gelecek', 'gelecek']

sort() komutu ile sıralama yapabiliriz

In [88]:
numbers = [0,12,456,32,12345,876]
numbers.sort()
numbers

[0, 12, 32, 456, 876, 12345]

reverse() komutu ile de büyükten küçüğe sıralama yaptırabiliriz

In [91]:
numbers.reverse()
print(numbers)

[12345, 876, 456, 32, 12, 0]

set ile sayıların tekrarlayan hallerinin bir defa yazıldığını görüyoruz. çıktıdaki sayılar ise artık süslü parantez ile gösteriliyor

In [92]:
set(numbers)

{0, 12, 32, 456, 876, 12345}

In [93]:
liste = ["ece","esk",26,1]
print(liste)
tup = ("ece","esk",26,1)
print(tup)

['ece', 'esk', 26, 1]
('ece', 'esk', 26, 1)

tupple değişkeni yani tup oluşturulduğu listede değişikliğe izin vermez aşağıda erroru var
-  3 tup[0] = "ecem"
      4 print(tup)

TypeError: 'tuple' object does not support item assignment

In [97]:
liste[0] = "ecem"
print(liste)

['ecem', 'esk', 26, 1]

In [98]:
tup.count("ece")

1

In [102]:
tup.index(26)

2

Dictionary

In [109]:
dict_1 = {
    "name" : "Ece",
    "surname" : "Us",
    "age" : 23,
    "location" : {
        "hometown" : "Adana",
        "lived" : "Eskişehir"
    }
}
print(dict_1)

dict_2 = {
    "name" : "Melih",
    "surname" : "Demirçioğlu",
    "age" : 24,
    "location" : {
        "hometown" : "Mersin",
        "lived" : "Eskişehir"
    }
}
print(dict_2)

{'name': 'Ece', 'surname': 'Us', 'age': 23, 'location': {'hometown': 'Adana', 'lived': 'Eskişehir'}}
{'name': 'Melih', 'surname': 'Demirçioğlu', 'age': 24, 'location': {'hometown': 'Mersin', 'lived': 'Eskişehir'}}

In [111]:
dict_2["surname"]

'Demirçioğlu'

In [112]:
dict_1["name"]

'Ece'

In [113]:
dict_2["location"]["hometown"]

'Mersin'

dict ile ilgili öğrendiklerim:
- okunurluk açısından alt alta yazmaya özen göster
- süslü parantez içinde listele
- anahtar ve karşılıklarından oluşuyor örn: "name" : "ece" iken name bir anahtar ece de karşılığı oluyor
- anahtarlar ve karşılıkları "" veya '' içinde yazılmalı
- anahtarları listelerken arada , kullanmayı unutma
- içiçe yazman gereken durumlar olduğunda location örneği gibi tekrar {} kullanarak anahtarları yazabilirsin
- sonrasında istediğin çıktıyı bulmak için [] kullan

get de dict ile kullanılabilecek metotlar arasındadır aşağıdaki örnekteki gibi çıktı almak mümkündür

In [114]:
dict_2.get("age")

24

dict'in özelliklerini inceleyecek olursak;
- .keys()  : sözlüğe ait anahtarları getirir
- .values(): sözlüğe ait anahtarların değerlerini getirir
- .items() : sözlükteki her bir satırı yani anahtarı ve değeri getirir

In [115]:
dict_1.keys()

dict_keys(['name', 'surname', 'age', 'location'])

In [116]:
dict_1.values()

dict_values(['Ece', 'Us', 23, {'hometown': 'Adana', 'lived': 'Eskişehir'}])

In [118]:
dict_1.items()

dict_items([('name', 'Ece'), ('surname', 'Us'), ('age', 23), ('location', {'hometown': 'Adana', 'lived': 'Eskişehir'})])